*.egg
*.egg-info
*.pyc
vvn/#*
vvn/*.pyc
*env
*.*~
*.py.swp
*.swp
*/**/.ipynb_checkpoints/*
build
build/*
.vscode
results/
notebooks/*
vvn/models/grnn/MNIST*
vvn/notebooks/cfan/*.pkl
vvn/data/mcs/SCENE_HISTORY/*
